{% extends 'base.html.twig' %}

{% block title %}E-commerce Web Site{% endblock %}

{% block body %}
    <style type="text/css">
    .block-small {
        max-width: 600px;
        margin: 0 auto;
    }
</style>
<div>
   <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.firstname }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
<div class="row">
    <div class="col-4 offset-4" style="color: #00580a;">
    <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in.</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Votre adresse email." required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Votre mot de passe." required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    <br />
    <br />
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    <button class="btn btn-lg btn-dark btn-block btn-sm mt-3" type="submit">Sign in</button>
    <hr />
    <p class="text-center"><a href="{{ path('reset_password') }}" class="btn btn-dark btn-sm">Mot de passe oublié ?</a></p>
    <p class="text-center">Ou souhaitez-vous <a href="{{ path('register') }}">créer un compte.</a></p>
</form>
    </div>
</div>
</div>

{% endblock %}
