{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - E-commerce Web Site.{% endblock %}

{% block body %}
    <div class="block-small">
        <form method="post">
            <div class="row">
                <div class="col-6 offset-3" style="color: #00580a;">
                    <h2 class="h3 mb-3 font-weight-normal"  style="color: #00580a;">Réinitialiser mon mot de passe.</h2>
                    <label for="inputEmail">Votre email</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Votre adresse email" required autofocus>
                    <button class="btn btn-lg btn-dark btn-block btn-sm mt-3" type="submit">
                        Valider
                    </button>
                    <hr>
                    <p class="text-center">Ou souhaitez-vous <a href="{{ path('app_login') }}">vous connecter</a> ?</p>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
