<div class="product-item text-center">
    <a href="{{ path('product', {'slug': product.slug}) }}">
    <img src="{{ asset('uploads/' ~ product.illustration) }}" alt="{{ product.name }}" width="200px" height="200px" class="img-fluid mb-3" /></a>
    <h5 style="color: #00580a; font-size: 18px; margin-bottom: 1px; margin-top: 15px">{{ product.name|upper }}</h5>
    <span style="font-size: 14px;font-weight: bold;  margin-top: 3px"">Prix : {{ (product.price /100)|number_format(2, ',', '') }} €</span>
    <p></p>
</div>