{% extends 'base.html.twig' %}

{% block title %}Nous contacter - E-commerce Web Site.{% endblock %}

{% block body %}
    <h2 style="color: #00580a;">Nous contacter</h2>
    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais.</p>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" style="color: #090;">{{ message }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <strong style="color: #00580a;">E-commerce Web Site.</strong>
            <hr>
            06 09 98 81 84<br/>
            13 rue Jean Giono 49100 Angers.<br/>
            m_delahy@club-internet.fr<br/>

    </div>
{% endblock %}
